# Misc
.DS_Store

# Editor
.vscode
.idea

# Dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# TypeScript
dist

# Wrangler
.wrangler
.open-next
wrangler.json

# Next.js
.next
!.next/types/routes.d.ts
.save.next

# Graphql
.graphql

# Turborepo
.turbo
