# Misc
.DS_Store

# Editor
.vscode
.idea

# Dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# TypeScript
dist

# Wrangler
.wrangler
.worker-next
wrangler.toml

# Next.js
.next
.save.next

# Graphql
.graphql

# Turborepo
.turbo
